html, body { height: 100%; }

body {
  font-family: Inconsolata, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #55676A;
}

h1, h4  {
  color: #688b8a;
  margin: 0px 0px 5px 0px;
}

::-webkit-scrollbar { display: none; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #a0b804;
}

img { border-radius: 3px; }

/* bodyContent */

.bk-header {
  margin: 30px 0px 0px 0px;
  border-bottom: 1px dashed lightgray;
}

.bk-header__title {
  font-family: 'Leckerli One', cursive;
  text-align: center;
}

/* bkColumn */

.bk-column {
  padding: 0;
}

.bk-column:nth-of-type(2) {
  border-right: 1px dashed lightgray;
  border-left: 1px dashed lightgray;
}


/* bkBox */

.bk-box {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: auto;
  border-bottom: 1px dashed lightgray;
  padding: 30px 30px 0px 30px;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.bk-box__title {
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
  font-weight: 300;
}

.bk-box p {
  line-height: 22px;
  font-size: 14px;
  margin-bottom: 20px;
  color: #55676A;
}

.bk-box .bk-box__img-container {
  position: relative;
  height: auto;
  margin: 0px;
}

.bk-box img { margin-bottom: 15px; }
.bk-box .bk-box__img-container i { display: none; }

.bk-box:hover .bk-box__img-container i,
.bk-box.-selected .bk-box__img-container i {
  position: absolute;
  display: inline-block;
  font-size: 18px;
  color: white;
  bottom: 32px;
  right: 14px;
}

.bk-box:hover, .bk-box.-selected {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* bkShow */

.bk-show__nav { margin: 15px 0px 5px 0px }
.bk-show__go-home { color: #a0b804; }
.bk-show__main-image { margin: 20px 0px; }

.bk-show__image-blurb {
  border-top: 1px dashed lightgray;
  padding-top: 10px;
  margin-bottom: 10px;
}

.bk-show__small-images { margin-left: -5px; }

.bk-show__small-image {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
}

.bk-show__prev, .bk-show__next {
  cursor: pointer;
}

.bk-show__prev {
  margin-right: 30px;
}

/* bkhome */

.bk-home-container {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.bk-home__faded { opacity: 0.8; }
.bk-home__faded:hover { opacity: 1; }
.bk-home-container a { color: white; }

.bk-home__center {
  width: 500px;
  margin: 0 auto;
  margin-top: 20%;
}

.bk-home__bottom_left {
  position: absolute;
  left: 5%;
  bottom: 3%;
}

.bk-home__bottom_right {
  cursor: pointer;
  position: absolute;
  right: 5%;
  bottom: 3%;
  font-size: 30px;
}

.bk-home__bottom_right .bk-home-circle {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: 2px solid white;
}

.bk-home__bottom_right i {
  position: absolute;
  bottom: 0px;
  left: 10px;
}

.bk-home__enter {
  text-align: center;
  letter-spacing: 3px;
  font-weight: 100;
}

.bk-header__title.-home {
  font-size: 60px;
  color: white;
  margin-bottom: 10px;
}

