html, body { height: 100%; }

body {
  font-family: Inconsolata, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #55676A;
}

h1 {
  color: #53bafd;
  margin: 0px 0px 5px 0px;
}

h4 { color: white; }
p { margin: 0; }

::-webkit-scrollbar { display: none; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #53bafd;
}

.container { width: 84% }

/* bodyContent */

.bk-header {
  margin: 20px 0px 0px 0px;
}

.bk-header__title {
  font-family: 'Leckerli One', cursive;
  text-align: center;
}

/* bkRow*/

.bk-article-row__box {
  padding: 0px;
  height: 100%;
}

/* bkBox */

.bk-box {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: auto;
  padding: 10px;
}

.bk-box__title {
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin-top: 30%;
  text-align: center;
}

.bk-box p {
  line-height: 22px;
  font-size: 14px;
  color: white;
}

.bk-box .bk-box__img-container {
  position: relative;
  height: auto;
  margin: 0px;
  width: 100%
}

.bk-box .bk-box__img-container.-long {
  width: 70%;
  display: inline-block;
  vertical-align:top
}

.bk-box .bk-box__note-container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);

  transition: opacity .3s ease-in-out;
  opacity: 0;
}

.bk-box:hover .bk-box__note-container {
  opacity: 1;
}

.bk-box .bk-box__img-container i { display: none; }

.bk-box:hover .bk-box__img-container i,
.bk-box.-selected .bk-box__img-container i {
  position: absolute;
  display: inline-block;
  font-size: 18px;
  color: white;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.bk-box {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.bk-box:hover, .bk-box.-selected {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* bkShow */

.bk-show__title {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  padding-top: 10px;

}

.bk-show__main-image {
  position: relative;
  margin: 20px 0px;
}

.bk-show__image-blurb {
  padding-top: 5px;
  margin-bottom: 10px;
}

.bk-show__small-images { padding-top: 15px; margin-left: -5px; }

.bk-show__small-image {
  display: inline-block;
  cursor: pointer;
  padding: 7px;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.bk-show__small-image.-selected {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.bk-show__hide-til-hover {
  opacity: 0;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.bk-show__main-image:hover .bk-show__hide-til-hover {
  opacity: 1;
}

.bk-show__nav-item-container {
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  height: 40px;
  width: 140px;
  top: 12px;
  right: 15px;
}

.bk-show__nav-item {
  position: absolute;
  top: 6px;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  border: 2px solid white;
}

.bk-show__nav-item.-home { right: 102px; }
.bk-show__nav-item.-prev { right: 57px; }
.bk-show__nav-item.-next { right: 12px; }

.bk-show__nav-item i {
  position: absolute;
  color: white;
  font-size: 26px;
  text-align: center;
}

.bk-show__nav-item.-home i {
  font-size: 14px;
  right: 6px;
  top: 4px;
}

.bk-show__nav-item.-next i {
  right: 6px;
  bottom: 0px;
}

.bk-show__nav-item.-prev i {
  left: 6px;
  bottom: 0px;
}

/* bkhome */

.bk-home-container {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.bk-home__faded { opacity: 0.8; }
.bk-home__faded:hover { opacity: 1; }
.bk-home-container a { color: white; }

.bk-home__center {
  width: 500px;
  margin: 0 auto;
  margin-top: 20%;
}

.bk-home__bottom_left {
  position: absolute;
  left: 5%;
  bottom: 3%;
}

.bk-home__bottom_right {
  cursor: pointer;
  position: absolute;
  right: 5%;
  bottom: 3%;
  font-size: 30px;
}

.bk-home__bottom_right .bk-home-circle {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: 2px solid white;
}

.bk-home__bottom_right i {
  position: absolute;
  bottom: 0px;
  left: 10px;
}

.bk-home__enter {
  text-align: center;
  letter-spacing: 3px;
  font-weight: 100;
}

.bk-header__title.-home {
  font-size: 60px;
  color: white;
  margin-bottom: 10px;
}

